body {
  font-family:
    Work Sans,
    sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  background-color: rgba(0, 0, 0, 255);
}

.glass {
  background: rgba(106, 120, 171, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
