@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .label-required {
    @apply label justify-start after:content-['*'] after:ml-0.5 after:text-red-500;
  }
}

body {
  font-family: Work Sans, sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  /* background-color: rgba(0, 0, 0, 255); */
}

.glass {
  background: rgba(106, 120, 171, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.fly {
  animation: cardfly 2s 1 forwards;
}
.is-invalid {
  border-color: #dc3545;
  /* padding-right: calc(1.5em + 0.75rem); */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.357em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.is-invalid:focus {
  border-color: #dc3545;
  /* box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25); */
}
.invalid-feedback {
  color: #dc3545;
  margin-top: 0.25rem;
  font-size: 80%;
  width: 100%;
  text-align: center;
}

@keyframes cardfly {
  0% {
  }
  100% {
    transform: translateX(-400px) translateY(-300px) rotateZ(-40deg);
  }
}
